Carthage/Build
Carthage/Checkouts
Carthage/.DS_Store
.DS_Store
.DS_Store
Coffee.xcodeproj/project.xcworkspace/xcuserdata/jarukorn.t.xcuserdatad/UserInterfaceState.xcuserstate
Coffee.xcodeproj/project.xcworkspace/xcuserdata/jarukorn.t.xcuserdatad/UserInterfaceState.xcuserstate
